<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація адміністратора</title>
</head>
<body>
<div class="login-container">
    <form id="home-page" method="POST" action="../controller/home_page_controller.php">
        <input name="sowing" type="submit" value="Посіви">
        <input name="culture" type="submit" value="Культури">
        <input name="seed" type="submit" value="Насіння">
        <input name="result" type="submit" value="Результати">
        <input name="analytics" type="submit" value="Аналітика">
        <input name="fertilizers_herbicides" type="submit" value="Добрива та гербіциди">
    </form>
</div>
</body>
</html>

