<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація адміністратора</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../controller/login_controllers.js"></script>
</head>
<body>
<div class="login-container">
    <form id="login-form" method="POST">
        Логин <input name="login" type="text" required><br>
        Пароль <input name="password" type="password" required><br>
        Не прикреплять к IP (небезопасно) <input type="checkbox" name="not_attach_ip"><br>
        <input name="submit" type="submit" value="Войти">
    </form>
</div>
</body>
</html>

